<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newbb">
<!--        <activity-->
<!--            android:name=".ui.splash.SplashScreenActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <!-- Splash Screen sebagai entry point utama -->
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OnBoarding Screen -->
        <activity
            android:name=".ui.onboarding.OnBoardingScreenActivity"
            android:exported="false" />

        <!-- Sign In Screen -->
        <activity
            android:name=".ui.auth.SignInActivity"
            android:exported="false" />

        <!-- Halaman produk -->
        <activity
            android:name=".ui.myproduct.MyProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.add.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>